 @model List<TaxiModelNamespace.Taxi>



<table class="table">
    <thead>
        <tr>
            <th>Driver Name</th>
            <th>Vechicle No</th>
            <th>Vechicle Name</th>
            <th>Rating </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Taxi in Model)
        {
            <tr>
                <td>@Taxi.DriverName</td>
                <td>@Taxi.VehicleNo</td>
                <td>@Taxi.VehicleModel</td>
                <td>@Taxi.Rating</td>
            </tr>
        }
    </tbody>

</table>
 

<script>
    function close_window() {
        if (confirm("Close Window?")) {
            close();
        }
    }
</script>


<div class="container-fluid" style=" margin-left: 50%;">
    <a href="#" style="margin-top:10%" class="btn btn-primary btn-large"  onclick="close_window();return false;">close</a>
   
</div>
 