<div class="col-md-4 col-md-offset-3">

    <label for="error" style="color:red"> @ViewBag.InfoError</label>
    <label for="infoMessage" style="color:green"> @ViewBag.InfoMessage</label>
    <form method="post">

        <div class="form-group">
            <label for="FirstName">First Name :</label>
            <input type="text" class="form-control" name="FName" />
        </div>

        <div class="form-group">
            <label for="LastName">Last Name :</label>
            <input type="text" class="form-control" name="LName" />
        </div>

        <div class="form-group">
            <label for="Email">EmailId :</label>
            <input type="email" class="form-control" name="Email" />
        </div>

        <div class="form-group">
            <label for="Password">Password :</label>
            <input type="password" class="form-control" name="Password" />
        </div>

        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password :</label>
            <input type="password" class="form-control" name="cnfPassword" />
        </div>

        <div class="form-group">

            <input type="submit" class="btn btn-primary" />
        </div>

    </form>



</div>