 
 

<table class="table">
    <thead>
        <tr>
            <th>Driver Name</th>
            <th>Vechicle No</th>
            <th>Vechicle Name</th>
            <th>Rating </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ramjin</td>
            <td>KL-01 3456</td>
            <td>Swift Desire</td>
            <td>5/10</td>
        </tr>
    </tbody>

</table>